<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.asus.applinkcaller"
    version="0.0.1">
    <name>AppLinkCaller</name>
    <description>AppLinkCaller Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,applink</keywords>

    <js-module src="www/AppLinkCaller.js" name="AppLinkCaller">
        <clobbers target="plugins.AppLinkCaller" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppLinkCaller" >
                <param name="android-package" value="com.asus.applinkcaller.AppLinkCaller"/>
            </feature>
        </config-file>

        <source-file src="src/android/AppLinkCaller.java" target-dir="src/com/asus/applinkcaller" />
        <source-file src="src/lib/bolts-android-1.1.2.jar" target-dir="libs" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
    </platform>
</plugin>
